body {
  background-color: #eaeaea;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: 15px;
  border-style: none;
  border-top-style: dotted;
  width: 30%;
  border-color: salmon;
}

h1,
h2 {
  text-align: center;
}

ul,
ol,
img,
p,
table {
  display: block;
  max-width: 500px;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}
